@import "../../../styles/global.scss";

.item-size-weight__title {
    @include heading-small;
}

.item-size-weight__image {
    max-width: 400px;
}

.item-size-weight__text {
    @include heading-tiny;
    font-weight: 600;
    @include bp-min(medium) {
        font-size: 1.4rem;
    }
}

.item-size-weight__measurement {
    font-weight: 300;
    text-transform: lowercase;
}
