@import "../../../styles/global.scss";

.globe-intro {
    padding: 0 gap(2);
    margin-bottom: gap(6);

    @include bp-min(small) {
        margin-bottom: gap(5);
        padding: 0;
    }
}

.globe-intro__logo {
    width: 100%;
    margin-bottom: gap(2);
}

.globe-intro__text {
    color: $text-dark;
    font-size: 1rem;

    @include bp-min(small) {
        color: $white;
        font-size: 1.1rem;
    }
}
