@import "../../../styles/global.scss";

.item-detail-template {
    padding: gap(4);
    @include bp-min(small) {
        max-width: 100vw;
        display: flex;
        gap: gap(7);
        padding: gap(6);
    }
}

.item-detail-template__images {
    position: relative;
    width: 100%;
    margin-bottom: gap(4);

    @include bp-min(small) {
        width: 50%;
        margin-bottom: 0;
    }
}
.item-detail-template__images-inner {
    position: sticky;
    top: gap(6);
}

.item-detail-template__figure {
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.item-detail-template__big-image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-detail-template__info {
    width: 100%;
    @include bp-min(small) {
        width: 50%;
    }
}

.item-detail-template__text {
    @include constrain(small-medium);
    margin-bottom: gap(7);
}

.item-detail-template__title {
    @include heading-big;
    margin-bottom: gap(5);

    @include bp-min(small) {
        margin-bottom: gap(4);
    }
}
.item-detail-template__intro {
    color: $off-white;
    margin-bottom: gap(4);

    @include bp-min(small) {
        color: $white;
    }
}

.item-detail-template__link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -#{gap(4)} gap(5) 0;
}
.item-detail-template__link {
    display: block;
}
.item-detail-template__arrow-icon {
    width: 40px;
    transition: transform 0.4s;
}
.item-detail-template__arrow-icon:hover {
    transform: translateX(-20%);
}
