@import "../../../styles/global.scss";

.item-detail-template {
    padding: 0 gap(2) gap(4) gap(2);
    @include bp-min(small) {
        max-width: 100vw;
        padding: 0 gap(6) gap(6) gap(6);
    }
}

.item-detail-template__inner {
    @include bp-min(small) {
        display: flex;
        gap: gap(7);
    }
}

.item-detail-template__home-logo {
    @include bp-min(small) {
        position: sticky;
        top: 0;
    }
}
.item-detail-template__home-image {
    display: block;
    width: 125px;
    padding: gap(3) 0;
}

.item-detail-template__images {
    position: relative;
    width: 100%;
    margin-bottom: gap(4);

    @include bp-min(small) {
        width: 50%;
        margin-bottom: 0;
    }
}
.item-detail-template__images-inner {
    position: sticky;
    top: 83px;
}

.item-detail-template__figure {
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.item-detail-template__big-image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-detail-template__info {
    width: 100%;
    @include bp-min(small) {
        width: 50%;
    }
}

.item-detail-template__text {
    @include constrain(small-medium);
    margin-bottom: gap(6);

    @include bp-min(small) {
        margin-bottom: gap(7);
    }
}

.item-detail-template__super-title {
    @include sub-title-small;
    color: #d3d3d3;
    margin-bottom: gap(2);
    font-weight: 600;
    letter-spacing: 0.25rem;
}
.item-detail-template__title {
    @include heading-big;
    margin-bottom: gap(4);
}
.item-detail-template__intro {
    margin-bottom: gap(3);
    color: $off-white;
}

.item-detail-template__link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    margin: gap(3) 0 gap(4) 0;

    @include bp-min(small) {
        margin: gap(1) 0 40px 0;
    }
}
.item-detail-template__share-container {
    display: flex;
    align-items: center;
    gap: gap(3);
}
.item-detail-template__link {
    display: block;
}
.item-detail-template__arrow-icon {
    width: 40px;
    transition: transform 0.4s;
}
.item-detail-template__arrow-icon:hover {
    transform: translateX(-20%);
}
