@import "../../../styles/global.scss";

.pinned-comment {
    @include constrain(small-medium);
    position: relative;
    box-sizing: content-box;
    padding: gap(3) gap(4);
    margin: gap(4) -#{gap(2)} 40px;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;

    @include bp-min(small) {
        margin: gap(5) 0;
        border: 1px solid $blue;
    }
}
.pinned-comment::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 20px 0 20px;
    border-color: $blue-darker transparent transparent transparent;
}
.pinned-comment::before {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 48px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 22px 0 22px;
    border-color: $blue transparent transparent transparent;
}

.pinned-comment__supertitle {
    display: flex;
    color: $blue;
    margin-bottom: gap(2);
    font-size: 1rem;
    font-weight: 500;
}
.pinned-comment__pin-icon {
    margin-right: gap(2);
}

.pinned-comment__comment-content {
    margin-bottom: gap(2);
    color: $off-white;
}

.pinned-comment__comment-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: $off-white;
}
