@import "../../../styles/global.scss";

.globe-legend {
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: 2;
    bottom: gap(3);
    right: gap(3);
    @include bp-min(medium) {
        display: block;
    }
    @include bp-min(large) {
        bottom: gap(4);
        right: gap(5);
    }
}

.globe-legend__list {
    @include bare-list;
}

.globe-legend__list-item {
    position: relative;
}

.globe-legend__image {
    position: absolute;
    left: -1.2em;
    bottom: 0.3rem;
    font-size: 1.2em;
}
.globe-legend__list-item:last-of-type .globe-legend__image {
    bottom: 0rem;
    font-size: 1.4em;
}

.globe-legend__text {
    @include label;
    line-height: 1.5;
    color: $off-white;
    font-weight: 500;
    @include bp-min(medium) {
        font-size: 0.8rem;
    }
}
