@import "../../../styles/global.scss";

.overview-grid {
    // max-width: 1200px;
    // margin: 0 auto;
}

.overview-grid__title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: gap(5);
    gap: gap(3) 0;
}

.overview-grid__title {
    @include heading-medium-big;
}

.overview-grid__filter-container {
    display: flex;
    flex-wrap: wrap;
}

.overview-grid__filter-list {
    @include bare-list;
    min-width: max-content;
    padding: gap(2) gap(3) gap(1) gap(3);
    border-bottom: 1px solid $blue;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.overview-grid__filter-list:first-of-type {
    margin-right: gap(4);
}
.overview-grid__filter-item {
    display: flex;
}

.overview-grid__dropdown-icon {
    margin-left: gap(2);
}
