@import "../../../styles/global.scss";

.navigation {
    position: relative;
    width: max-content;
    padding: 0 gap(2);
    margin: 0 0 gap(4) auto;
    z-index: 1;
    @include bp-min(small) {
        position: absolute;
        top: gap(5);
        right: gap(5);
        margin: 0;
        padding: 0;
    }
}
.navigation__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    text-align: center;
    color: $white;
    text-decoration: none;
    transition: transform 0.2s ease-out;
}
.navigation__icon-label {
    @include label;
    margin-top: gap(1);
    text-align: center;
}
.navigation__link--grid .navigation__icon-label {
    margin-top: 7px;
}
.navigation__globe {
    width: 100%;
    transform: scale(1.4);
}
.navigation__icon {
    width: 25px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: gap(1);
}
.navigation__link:hover,
.navigation__link:focus {
    transform: scale(1.2);
}
.navigation__icon-inner {
    width: calc(50% - #{gap(1)} / 2);
    background-color: $blue;
}
