@import "../../../styles/global.scss";

.navigation {
    position: relative;
    width: max-content;
    padding: 0 gap(2);
    margin: 0 0 gap(4) auto;
    @include bp-min(small) {
        position: absolute;
        top: gap(4);
        right: gap(4);
        margin: 0;
        padding: 0;
    }
}
.navigation__link {
    display: inline;
}
.navigation__icon {
    width: 25px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: gap(1);
    transition: transform 0.2s ease-out;
}
.navigation__icon:hover,
.navigation__icon:focus {
    transform: scale(1.2);
}
.navigation__icon-inner {
    width: calc(50% - #{gap(1)} / 2);
    background-color: $blue;
}
