@import "../../../styles/global.scss";

.overlay-grid {
    @include bare-list;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: gap(3) gap(4);
}

.overlay-grid__item-link {
    display: block;
}
.overlay-grid__item-link:hover,
.overlay-grid__item-link:focus {
    text-decoration: underline;
    color: $white;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.05rem;
}

.overlay-grid__item {
    width: calc(50% - #{gap(4)} / 2);
}
.overlay-grid__item-figure {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: gap(1);
    padding-top: 100%;
}
.overlay-grid__item-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.overlay-grid__item-title {
    @include text-medium;
}
