@import "../../../styles/global.scss";

.comment-section {
    @include constrain(small-medium);
    width: 100%;
    border-top: 1px solid $blue;
    padding: gap(5) gap(2) 0;
    margin: 0;

    @include bp-min(small) {
        padding: gap(5) 0 0;
    }
}

.comment-section__title {
    @include heading-medium;
    font-weight: 800;
    margin-bottom: gap(4);
}

.comment-section__comment-field-container {
    position: relative;
    margin-bottom: gap(5);
    display: flex;
    overflow: hidden;
}
.comment-section__post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: gap(3);
    bottom: 15px;
    width: 35px;
    height: 35px;
    background-color: $blue;
    padding: 12px 11px 12px 13px;
    margin: auto 0;
    border-radius: 100%;
    border: 0;
    transition: background-color 0.3s;
}
// .comment-section__post-button:hover,
// .comment-section__post-button:focus {
//     background-color: $blue-dark;
//     border: 2px solid $blue;
// }
.comment-section__post-icon {
    width: 15px;
}
// .comment-section__post-button:hover .comment-section__post-icon,
// .comment-section__post-button:focus .comment-section__post-icon {
//     fill: $blue;
// }

.comment-section__comment-field {
    display: block;
    overflow: hidden;
    resize: none;
    width: 100%;
    padding: gap(3);
    background-color: $blue-dark;
    color: $white;
    font-family: proxima-nova;
    font-size: 1rem;
    border: none;
    outline: none;
    transition: transform 0.5s ease;
}
.comment-section__comment-field:focus {
    outline: 1px solid $blue;
}
.comment-section__comment-field--name {
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}
.comment-section__comment-field-container--clicked
    .comment-section__comment-field {
    transform: translateX(-100%);
}
.comment-section__comment-field-container--clicked
    .comment-section__comment-field--name {
    transform: translateX(0%);
}

::placeholder {
    color: $blue;
}
