@import "./base/colors.scss";
@import "./base/layout.scss";
@import "./base/fonts.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    @include constrain(huge);
    position: relative;
    max-width: 100vw;
    color: $white;
    background-color: $off-white;
    font-family: proxima-nova;
    line-height: 1.4;
    margin: 0 auto;
    padding: gap(10);
    max-width: 1600px;

    // Scrollbar styling
    scrollbar-color: $off-black transparent;
    scrollbar-width: 14px;

    &::-webkit-scrollbar {
        width: 14px;
    }
    // Scrollbar foreground
    &::-webkit-scrollbar-thumb {
        background-color: $off-black;
        background-clip: content-box;
        border: 5px solid transparent;
    }
    // Scrollbar background
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

main {
    padding: 0 3em;
}

p {
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.1rem;
    color: $off-black;

    @include bp-min(small) {
        line-height: 1.4;
        font-size: 1.3rem;
    }
}

button {
    cursor: pointer;
    font-family: proxima-nova;
}
