@import "../../../styles/global.scss";

.link-section {
    margin-bottom: gap(6);
}

.link-section__title-container {
    display: flex;
    align-items: center;
    gap: gap(3);
    margin-bottom: gap(3);
}

.link-section__title {
    @include heading-small;
}

.link-section__link-icon {
    width: 18px;
}

.link-section__list {
    @include bare-list;
    margin-left: gap(2);
}

.link-section__item {
    list-style-position: inside;
    margin: gap(2) 0;
}

.link-section__link {
    display: flex;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1;
    color: $white;
    text-decoration: none;
}

.link-section__arrow {
    display: block;
    width: 20px;
    margin-right: 15px;
    transition: transform 0.15s ease-out;
}

.link-section__link:hover .link-section__arrow,
.link-section__link:focus .link-section__arrow {
    transform: translateX(30%);
}

.link-section__link:hover,
.link-section__link:focus {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}
