@import "../../../styles/global.scss";

.overview-filter {
    position: fixed;
    transform: translateX(100%);
    top: 0;
    background-color: $blue-filter;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding: gap(3) gap(4);
    transition: transform 0.2s ease-out;
    z-index: 5;

    @include bp-min(small-medium) {
        position: fixed;
        width: 350px;
    }
}
.overview-filter--open {
    transform: translateX(0);
}

.overview-filter__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: $blue-darker;
    padding: 12px 12px 12px 12px;
    margin-bottom: gap(5);
    border-radius: 100%;
    border: 0;
    transition: background-color 0.3s;
}
.overview-filter__close-button:hover,
.overview-filter__close-button:focus {
    background-color: $blue-darke;
}

.overview-filter__close-icon {
    width: 19px;
}

.overview-filter__title {
    @include heading-medium;
    margin-bottom: gap(4);
}

.overview-filter__filter-list {
    @include bare-list;
}

.overview-filter__filter-item {
    padding: 0 gap(3);
    border-top: 1px solid $blue;
}
.overview-filter__filter-item:last-of-type {
    border-bottom: 1px solid $blue;
}
