@import "../../../styles/global.scss";

.overview-filter {
    position: fixed;
    transform: translateX(100%);
    top: 0;
    background-color: $blue-filter;
    width: 350px;
    height: 100vh;
    overflow-y: scroll;
    padding: gap(3) gap(4);
    transition: transform 0.2s ease-out;
}
.overview-filter--open {
    transform: translateX(0);
}

.overview-filter__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: $blue-darker;
    padding: 12px 12px 12px 12px;
    margin-bottom: gap(5);
    border-radius: 100%;
    border: 0;
    transition: background-color 0.3s;
}
.overview-filter__close-button:hover,
.overview-filter__close-button:focus {
    background-color: $blue-darke;
}

.overview-filter__close-icon {
    width: 19px;
}

.overview-filter__title {
    @include heading-medium;
    margin-bottom: gap(4);
}

.overview-filter__filter-list {
    @include bare-list;
}

.overview-filter__filter-item {
    padding: gap(3);
    border-top: 1px solid $blue;
}
.overview-filter__filter-item:last-of-type {
    border-bottom: 1px solid $blue;
}

.overview-filter__filter-title-container {
    display: flex;
    justify-content: space-between;
}
.overview-filter__filter-title {
    @include data-value-text;
    font-size: 1.2rem;
    @include bp-min(medium) {
        font-size: 1.2rem;
    }
}

.overview-filter__filter-options {
    @include bare-list;
    overflow: hidden;
    padding: gap(2) gap(2) 0;
    // margin-top: -#{gap(2)};
    // height: 0;
}

.overview-filter__filter-option {
    font-weight: 300;
}
.overview-filter__filter-option:hover,
.overview-filter__filter-option:active {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.1em;
}
