@import "../../../styles/global.scss";

.comments {
    @include bare-list;
}

.comments__comment {
    position: relative;
    padding: gap(4) 0;
    border-top: 1px solid $blue;
}

.comments__comment-supertitle {
    display: flex;
    color: $blue;
    margin-bottom: gap(2);
    font-size: 1rem;
}
.comments__pin-icon {
    margin-right: gap(2);
}

.comments__comment-content {
    margin-bottom: gap(3);
    color: $off-white;
}

.comments__comment-name {
    font-size: 1.1rem;
    font-weight: 600;
    @include bp-min(small) {
        font-size: 1.2rem;
    }
}

.comments__comment-likes {
    display: flex;
    position: absolute;
    right: gap(3);
    bottom: gap(4);
    align-items: center;
}
.comments__heart-icon {
    height: 20px;
    margin-right: gap(2);
    @include bp-min(small) {
        height: 25px;
    }
}
