@import "../../../styles/global.scss";

.active-filter-tags {
    @include bare-list;
    display: flex;
    flex-wrap: wrap;
    gap: gap(2);

    @include bp-min(small) {
        margin-top: gap(4);
    }
}

.active-filter-tags__button {
    @include text-medium;
    color: $blue;
    padding: gap(2);
    border: 1px solid $blue;
    background-color: transparent;
}

.active-filter-tags__icon {
    margin-left: gap(2);
}
