@import "../../../styles/global.scss";

.item-info {
    @include constrain(small-medium);
    margin-bottom: gap(7);

    @include bp-min(small) {
        margin-bottom: gap(9);
    }
}
.item-info__title {
    @include heading-medium;
    font-weight: 800;
    margin-bottom: gap(5);
}

.item-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-info__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: gap(6);
    width: 100%;
    text-align: center;
}
