@import "../../../styles/global.scss";

.item-info {
    @include constrain(small-medium);
    margin-bottom: gap(7);

    @include bp-min(small) {
        margin-bottom: gap(9);
    }
}
.item-info__title {
    @include heading-medium;
    font-weight: 800;
    margin-bottom: gap(5);
}

.item-info__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: gap(5);
}

.item-info__location-image {
    max-width: 200px;
}

.item-info__category-title {
    @include heading-small;
    margin-bottom: gap(3);
}

.item-info__location-image {
    width: 100%;
}
