@import "../../../styles/global.scss";

.globe-overlay {
    min-width: 300px;
    padding: gap(2) gap(4) gap(4) 0;
}

.globe-overlay__text {
    text-align: center;
}

.globe-overlay__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.globe-overlay__button {
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.globe-overlay__button:first-of-type {
    margin-right: gap(3);
}
.globe-overlay__button:last-of-type {
    margin-left: gap(3);
}

.globe-overlay__title {
    @include heading-medium;
    margin-bottom: gap(1);
}
.globe-overlay__sub-title {
    @include sub-title-small;
    margin-bottom: gap(4);
}
