@import "../../../styles/global.scss";

.globe-overlay {
    @include constrain(small);
    padding: gap(3);
    width: 100%;
    border: 2px solid $blue;
}
.globe-overlay__title {
    @include heading-medium;
}
.globe-overlay__sub-title {
    @include sub-title-small;
}
