@import "../../../styles/global.scss";

.globe-overlay {
    @include constrain(small);
    width: 100%;
    min-width: 300px;
    padding: gap(2) gap(4) gap(4) 0;
}
// .globe-overlay--scroll {
//     padding: gap(4) gap(4) gap(4) 0;
// }

.globe-overlay__title {
    @include heading-medium;
    margin-bottom: gap(1);
}
.globe-overlay__sub-title {
    @include sub-title-small;
    margin-bottom: gap(4);
}
