@import "../../../styles/global.scss";

.item-optional-data__title {
    @include heading-small;
    margin-bottom: gap(4);
}

.item-optional-data__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: gap(4);
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.item-optional-data__data-pair {
    padding: gap(4) 0 gap(4) gap(4);
    border-bottom: 1px solid $blue-dark;
}
.item-optional-data__data-pair:first-of-type {
    border-top: 1px solid $blue-dark;
}

.item-optional-data__data-title {
    @include heading-tiny;
    margin-bottom: 15px;
}
.item-optional-data__data-value {
    @include data-value-text;
    @include bp-min(large) {
        font-size: 1.3rem;
    }
}
