@import "../../../styles/global.scss";

.share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003856;
    padding: 12px 13px 12px 11px;
    border-radius: 100%;
    transition: background-color 0.3s;
}

.share-button:hover,
.share-button:focus {
    background-color: $blue-2;
}

.share-button__icon {
    width: 20px;
}
