@import "../../../styles/global.scss";

.disabled-globe {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.disabled-globe__text {
    @include heading-small;
    color: $off-white;
    font-weight: 900;
    max-width: 150px;
}
