@import "../../../styles/global.scss";

.item-images__big-image-figure {
    position: relative;
    width: 100%;
    margin-bottom: gap(3);
    padding-top: 100%;
    overflow: hidden;
}
.item-images__big-image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 101%;
    height: 101%;
}

.item-images__small-images-container {
    display: flex;
    gap: gap(2);
}

.item-images__small-image-figure {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    @include bp-min(small) {
        width: 60px;
        height: 60px;
    }
}
.item-images__small-image-figure--active {
    padding-bottom: gap(1);
    border-bottom: 1px solid $blue;
}
.item-images__small-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.item-images__small-image:hover {
    cursor: pointer;
}
