@import "../../../styles/global.scss";

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #003856;
    padding: 12px 12px 12px 12px;
    border-radius: 100%;
    transition: background-color 0.3s;
}

.close-button:hover,
.close-button:focus {
    background-color: $blue-2;
}

.close-button__icon {
    width: 19px;
}
