@import "../../../styles/global.scss";

.globe-template {
    display: flex;
    justify-content: space-between;
    gap: gap(8);
    padding: gap(6);
    height: 100vh;
    max-height: 100vh;
}

.globe-template__text {
    width: 40%;
    max-height: calc(100vh - #{gap(6)});
    height: 100%;
}

.globe-template__globe-overlay {
    width: 100%;
}
