@import "../../../styles/global.scss";

.globe-template {
    height: auto;
    max-height: none;
    padding: gap(4);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    @include bp-min(small) {
        display: flex;
        justify-content: space-between;
        gap: gap(4);
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        padding: 0;
    }

    @include bp-min(huge) {
        gap: gap(6);
    }
}

::-webkit-scrollbar {
    display: none;
}

.globe-template__navigation {
    position: relative;
    width: max-content;
    padding: 0 gap(2);
    margin: 0 0 gap(4) auto;
    z-index: 1;
    @include bp-min(small) {
        position: absolute;
        top: gap(5);
        right: gap(5);
        margin: 0;
        padding: 0;
    }
}

.globe-template__text {
    width: 55%;
    min-width: 350px;
    padding: gap(5) gap(3) 0 gap(5);
    height: 100%;
    overflow: scroll;
}

.globe-template__globe-container {
    position: relative;
    margin-bottom: gap(5);
    padding: 0;
    width: 100%;

    @include bp-min(small) {
        padding: gap(6) gap(4) gap(2) 0;
        margin: 0;
    }
}
