@import "../../../styles/global.scss";

.globe-template {
    display: flex;
    justify-content: space-between;
    gap: gap(4);
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    @include bp-min(huge) {
        gap: gap(6);
    }
}

::-webkit-scrollbar {
    display: none;
}

.globe-template__text {
    width: 50%;
    min-width: 350px;
    padding: gap(5) gap(3) 0 gap(5);
    height: 100%;
    overflow: scroll;
}

.globe-template__globe-container {
    width: 100%;
    padding: gap(6) gap(4) gap(2) 0;
}

/**
 * Mobile globe page
 */
.globe-template--mobile {
    display: block;
    height: auto;
    max-height: none;
    padding: gap(4);
}

.globe-template--mobile .globe-template__globe-container {
    width: 100%;
    margin-bottom: gap(5);
    padding: 0;
}

.globe-template--mobile .globe-overlay {
    padding: 0;
}

.globe-template--mobile .globe-intro {
    padding: 0 gap(2);
    margin-bottom: gap(6);
}

.globe-template--mobile .items-grid {
    @include bare-list;
    gap: 15px;
    min-height: 400px;
}

.globe-template--mobile .items-grid__item {
    width: calc(50% - 15px / 2);
}

.globe-template--mobile .globe-intro__text {
    color: $text-dark;
    font-size: 1rem;
}

.item-detail-template__intro {
    color: $off-white;
}
