@import "../../../styles/global.scss";

.overview-template {
    padding: gap(4) gap(4);
    @include bp-min(small) {
        padding: gap(5);
    }
}

.overview-template__intro {
    width: 100%;
    margin-bottom: gap(6);
    @include bp-min(small) {
        width: 30.85%;
        min-width: 350px;
    }
}

.overview-template__navigation {
    position: relative;
    width: max-content;
    padding: 0 gap(2);
    margin: 0 0 gap(4) auto;
    z-index: 1;
    @include bp-min(small) {
        position: absolute;
        top: gap(5);
        right: gap(5);
        margin: 0;
        padding: 0;
    }
}
