@import "../../../styles/global.scss";

.overview-template {
    padding: gap(6) gap(4);
    @include bp-min(small) {
        padding: gap(5);
    }
}

.overview-template__intro {
    width: 31%;
    min-width: 350px;
    margin-bottom: gap(6);
}
