@import "../../../styles/global.scss";

.overview-template {
    padding: gap(4) gap(4);
    @include bp-min(small) {
        padding: gap(5);
    }
}

.overview-template__intro {
    width: 100%;
    margin-bottom: gap(6);
    @include bp-min(small) {
        width: 30.85%;
        min-width: 350px;
    }
}
