/**
 * Headings
 */
@mixin heading-big {
    font-weight: 900;
    font-size: 3rem;
    color: $blue;
    line-height: 0.85;
    text-transform: uppercase;
    word-break: break-word;
    @include bp-min(medium) {
        font-size: 3.6em;
    }
    @include bp-min(large) {
        font-size: 4rem;
    }
}
@mixin heading-medium-big {
    font-weight: 900;
    font-size: 2.6rem;
    color: $blue;
    line-height: 0.85;
    text-transform: uppercase;
    @include bp-min(medium) {
        font-size: 2.8rem;
    }
    @include bp-min(large) {
        font-size: 3rem;
    }
}
@mixin heading-medium {
    font-weight: 900;
    font-size: 2.2rem;
    color: $blue;
    line-height: 0.85;
    text-transform: uppercase;
    @include bp-min(medium) {
        font-size: 2.2rem;
    }
    @include bp-min(large) {
        font-size: 2.3rem;
    }
}

@mixin heading-small {
    font-weight: 800;
    font-size: 1.8rem;
    color: $blue;
    line-height: 0.85;
    text-transform: uppercase;
    @include bp-min(medium) {
        font-size: 2rem;
    }
    @include bp-min(large) {
        font-size: 2.1rem;
    }
}

@mixin heading-tiny {
    font-weight: 400;
    font-size: 1rem;
    color: $blue;
    line-height: 0.85;
    text-transform: uppercase;
    @include bp-min(medium) {
        font-size: 1rem;
    }
    @include bp-min(large) {
        font-size: 1rem;
    }
}

/**
 * Sub titles
 */
@mixin sub-title-small {
    font-weight: 500;
    font-size: 0.7rem;
    color: $white;
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/**
 * Text
 */
@mixin text-medium {
    font-weight: 600;
    font-size: 0.8rem;
    color: $white;
    line-height: 1;
    text-transform: uppercase;
    @include bp-min(small) {
        font-size: 0.9rem;
    }
}

@mixin data-value-text {
    font-weight: 600;
    font-size: 1.2rem;
    color: $white;
    line-height: 0.85;
    text-transform: uppercase;
    @include bp-min(medium) {
        font-size: 1.3rem;
    }
    @include bp-min(large) {
        font-size: 1.4rem;
    }
}

@mixin label {
    font-weight: 600;
    font-size: 0.6rem;
    color: $white;
    line-height: 1;
    text-transform: uppercase;
    @include bp-min(medium) {
        font-size: 0.6rem;
    }
}
