/**
 * Headings
 */
@mixin heading-big {
    font-weight: 300;
    font-size: 2.6rem;
    color: $off-black;
    line-height: 1;
    @include bp-min(medium) {
        font-size: 2.8rem;
    }
    @include bp-min(large) {
        font-size: 3rem;
    }
}
@mixin heading-medium {
    font-weight: 300;
    font-size: 2.1rem;
    color: $off-black;
    line-height: 1;
    @include bp-min(medium) {
        font-size: 2.3rem;
    }
    @include bp-min(large) {
        font-size: 2.5rem;
    }
}
@mixin heading-uppercase {
    font-weight: 400;
    font-size: 1.6rem;
    color: $off-black;
    line-height: 1;
    text-transform: uppercase;
    @include bp-min(medium) {
        font-size: 1.8rem;
    }
    @include bp-min(large) {
        font-size: 2rem;
    }
}

/**
 * Text
 */
@mixin text-medium {
    font-weight: 300;
    font-size: 1.4rem;
    color: $off-black;
    line-height: 1;
    @include bp-min(small) {
        font-size: 1.6rem;
    }
}
