/*
 * Gaps.
 */
$gaps: (
    1: 5px,
    2: 10px,
    3: 20px,
    4: 30px,
    5: 50px,
    6: 70px,
    7: 100px,
    8: 120px,
    9: 150px,
);

@function gap($size) {
    @return map-get($gaps, $size);
}

/*
 * Paddings.
 */
$paddings: (
    tiny: 5px,
    small: 20px,
    medium: 50px,
    large: 100px,
);

@function padding($size) {
    @return map-get($paddings, $size);
}

/*
 * Constrains.
 */
$constrains: (
    tiny: 350px,
    small: 400px,
    small-medium: 800px,
    medium: 940px,
    large: 1440px,
    huge: 1800px,
);
@function constrain($size) {
    @return map-get($constrains, $size);
}
@mixin constrain($size) {
    max-width: constrain($size);
}

/**
 * Breakpoints
 */
$breakpoints: (
    tiny: 480px,
    small: 640px,
    small-medium: 750px,
    medium: 960px,
    medium-large: 1100px,
    large: 1280px,
    huge: 1680px,
);
@function breakpoint($size) {
    @return map-get($breakpoints, $size);
}
@mixin bp-min($size) {
    @media (min-width: breakpoint($size)) {
        @content;
    }
}
